@charset "utf-8";
/* CSS Document */

body{
	background: rgba(252,234,187,1);
background: -moz-linear-gradient(top, rgba(252,234,187,1) 0%, rgba(94,147,166,1) 13%, rgba(147,250,159,1) 32%, rgba(247,0,247,1) 51%, rgba(179,170,110,1) 69%, rgba(43,66,184,1) 84%, rgba(186,147,47,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(252,234,187,1)), color-stop(13%, rgba(94,147,166,1)), color-stop(32%, rgba(147,250,159,1)), color-stop(51%, rgba(247,0,247,1)), color-stop(69%, rgba(179,170,110,1)), color-stop(84%, rgba(43,66,184,1)), color-stop(100%, rgba(186,147,47,1)));
background: -webkit-linear-gradient(top, rgba(252,234,187,1) 0%, rgba(94,147,166,1) 13%, rgba(147,250,159,1) 32%, rgba(247,0,247,1) 51%, rgba(179,170,110,1) 69%, rgba(43,66,184,1) 84%, rgba(186,147,47,1) 100%);
background: -o-linear-gradient(top, rgba(252,234,187,1) 0%, rgba(94,147,166,1) 13%, rgba(147,250,159,1) 32%, rgba(247,0,247,1) 51%, rgba(179,170,110,1) 69%, rgba(43,66,184,1) 84%, rgba(186,147,47,1) 100%);
background: -ms-linear-gradient(top, rgba(252,234,187,1) 0%, rgba(94,147,166,1) 13%, rgba(147,250,159,1) 32%, rgba(247,0,247,1) 51%, rgba(179,170,110,1) 69%, rgba(43,66,184,1) 84%, rgba(186,147,47,1) 100%);
background: linear-gradient(to bottom, rgba(252,234,187,1) 0%, rgba(94,147,166,1) 13%, rgba(147,250,159,1) 32%, rgba(247,0,247,1) 51%, rgba(179,170,110,1) 69%, rgba(43,66,184,1) 84%, rgba(186,147,47,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#ba932f', GradientType=0 );
}